<configuration>
    <!-- Logger for sensitive data -->
    <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
            <includeContext>false</includeContext>
        </encoder>
    </appender>

    <logger name="secureLogger" level="INFO" additivity="false">
        <appender-ref ref="team-logs"/>
    </logger>

    <springProfile name="!dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <root level="info" />
    </springProfile>
</configuration>
