name: Build-Deploy-Prod
on:
  push:
    branches:
      - main
permissions:
  packages: write
  contents: read
  id-token: write

env:
  IMAGE: ghcr.io/navikt/familie-ba-infotrygd:${{ github.sha }}
  IMAGE_LATEST: ghcr.io/navikt/familie-ba-infotrygd:latest
jobs:
  deploy-to-prod:
    name: Bygg app/image, push til github, deploy til prod-fss og dev-fss
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # ratchet:actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Test and build
        env:
          GPR_API_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew test build cyclonedxDirectBom
      - uses: nais/docker-build-push@791ebb6f74b82849c742a9bc9c97abe44c6c111f # ratchet:nais/docker-build-push@v0
        id: docker-push
        with:
          team: teamfamilie
          push_image: true
          tag: latest
          dockerfile: Dockerfile
          docker_context: .
          byosbom: build/reports/cyclonedx-direct/bom.json
      - name: Deploy to dev-fss
        uses: nais/deploy/actions/deploy@33c53f5b87d0746093a7a7ab4b9fa853e0e53bdc # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-fss
          RESOURCE: .nais/app-dev.yaml
          VAR: image=${{ steps.docker-push.outputs.image }}
      - name: Deploy to prod-fss
        uses: nais/deploy/actions/deploy@33c53f5b87d0746093a7a7ab4b9fa853e0e53bdc # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-fss
          RESOURCE: .nais/app-prod.yaml
          VAR: image=${{ steps.docker-push.outputs.image }}
